﻿@model CinemaDemo.Models.PresentationModels.StreamingViewModel

@{
    @foreach (var item in Model.FilmsListModel)
    {
        <div class="row">
            <div class="col">
                @item
            </div>
        </div>
    }

}