﻿@model CinemaDemo.Models.ViewModels.FilmListingViewModel
@using CinemaDemo.Models.PresentationModels;

@{
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-12">
                <div class="container">
                    <div class="row">
                        <div class="col col-12">
                            <h3>Book this film</h3>
                        </div>
                    </div>

                    @foreach (FilmListingModel item in Model.FilmListings)
                    {
                        using (Html.BeginForm("BookSeats", "Home", FormMethod.Post))
                        {
                            @Html.Hidden("Film", item.Film)
                            @Html.Hidden("Start", item.Start)
                            @Html.Hidden("End", item.End)
                            @Html.Hidden("Screen", item.Screen)
                            @Html.Hidden("Id", item.Id)
                            @Html.Hidden("ViewingId", item.ViewingId)
                            <div class="row">
                                <div class="col col-2">Film Name:</div>
                                <div class="col col-10">@item.Film</div>
                            </div>

                            <div class="row">
                                <div class="col col-2">Start Time:</div>
                                <div class="col col-10">@item.Start</div></div>
                            <div class="row">
                                <div class="col col-2">End Time:</div>
                                <div class="col col-10">@item.End</div></div>
                            <div class="row">
                                <div class="col col-2">Screen:</div>
                                <div class="col col-10">@item.Screen</div></div>
                            <div class="row">
                                <div class="col col-2">Select Seats:</div>
                                <div class="col col-10">

                                    @*@Html.TextBox("SeatsBooking", item.SeatsBooking)*@
                                    <ul class="list-group" style="padding-bottom:1em; width:10em;">
                                        @foreach (var seat in item.SeatsAvailableList)
                                        {
                                            <li class="list-group-item">
                                                <input type="checkbox" name="SeatsAvailableList" value="@seat" id="@seat" />
                                                <label for="@seat">@seat</label>
                                            </li>
                                        }
                                    </ul>


                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-2"></div>
                                <div class="col col-10"><button class="btn btn-primary" type="submit">Book</button></div>
                            </div>

                        }

                    }

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">
                @{
                    if (ViewBag.Result != null)
                    {
                        <h3>Your booking has been processed</h3>
                    }
                    
                }

            </div>
        </div>
    </div>
}
