﻿@model CinemaDemo.Models.ViewModels.FilmListingViewModel
@using CinemaDemo.Models.PresentationModels;

@{ 
    <table class="table">
        <tbody>
            @foreach (FilmListingModel item in Model.FilmListings)
            {

            <tr>
                <td>@item.Film</td>
                <td>@item.Start</td>
                <td>@item.End</td>
                <td>@item.Screen</td>
                <td>Select Seats</td>
                <td><a class="badge badge-primary" href="Home/Details/@item.ViewingId">Book This</a></td>
            </tr>

            }
        </tbody>
    </table>
}

